@charset "UTF-8";
body {
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Roboto', '微軟正黑體', 'sans-serif'; }

.bg-white {
  background: #fff;
  color: #000; }

.bg-dark {
  background: #000;
  color: #fff; }

.banner {
  background-image: url(../images/photo-1552393700-42696fb89bfa/photo-1552393700-42696fb89bfa.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.banner-content {
  color: #fff;
  padding-top: 356px;
  padding-bottom: 256px; }
  .banner-content span {
    line-height: 42px;
    font-weight: 700; }
  .banner-content .banner-title {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 32px;
    font-weight: 900; }
  .banner-content .banner-text {
    line-height: 42px;
    margin-bottom: 64px;
    font-weight: 700; }
  .banner-content .banner-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.footer {
  font-weight: 500;
  text-align: center;
  padding: 64px 0 80px 0; }
  .footer .footer-title {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 16px; }
  .footer .footer-text {
    margin-bottom: 16px; }
  .footer p {
    line-height: 36px; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 64px 0 56px 0; }
  .about .about-title {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 40px; }
  .about .about-info {
    border-bottom: 1px solid #000;
    text-align: center;
    margin-bottom: 34px; }
    .about .about-info img {
      margin-bottom: 21px; }
    .about .about-info h3 {
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 8px; }
    .about .about-info p {
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 32px; }
  .about .about-group {
    font-weight: 700;
    line-height: 42px;
    text-align: center; }
    .about .about-group li {
      position: relative;
      margin-left: 16px; }
      .about .about-group li:before {
        content: '';
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #891818;
        position: absolute;
        margin-left: -38px;
        margin-top: 10px; }

.brand {
  padding: 64px 0 120px 0; }
  .brand .brand-group {
    margin-bottom: 40px;
    margin-right: 24px; }
    .brand .brand-group img {
      display: block; }

.works {
  padding: 64px 0 104px 0;
  background: transparent url(../images/photo-1561291386-5be50364cfb5/photo-1561291386-5be50364cfb5.png) 0% 100% no-repeat padding-box; }
  .works .works-group {
    margin-bottom: 56px; }
    .works .works-group img {
      display: block;
      margin-right: 24px;
      margin-bottom: 16px; }
    .works .works-group p {
      color: #fff;
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 42px; }

.card {
  text-align: center;
  margin-bottom: 48px; }
  .card .card-title {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 16px; }
  .card .card-subtitle {
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 42px; }
  .card .card-body {
    font-weight: 500;
    font-size: 20px;
    line-height: 42px; }

.flex-content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
